@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }

/*switch box model*/
html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; 
}

body
{
	font-family: 'Source Sans Pro', Arial, sans-serif;
	margin: 0;
	padding: 0;
	letter-spacing: 0.03em;
}

/* Universal point size at 16px for body text */
p 
{	
	font-size: .873rem;
	line-height: 28px;
}

a 
{ 
  color:#000; 
  text-decoration: none;  
  transition:all .1s linear 0s;
}

/* General section title universal structure for mobile */
.sectionTitle h2
{
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 20px;
}

.siteContainer
{
	margin: 0 auto;
	max-width: 1140px;
}

.box 
{
  background-color: SlateBlue;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

/* Top navigation structure */
.topInfo
{
	background-color: #417505;
	height: 0px;
	margin-bottom: 0px;
}

.contactTop
{
	display: none;
}

.socialmediaTop
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 18px;
}

.socialMedia ul li{
	display:  inline;
	justify-content: space-between;
	margin-left: 20px;
}


/* Main logo at mobile */
#traaLogo
{
  display: block;
  margin-top: 40px;
  max-width: 250px;
  margin: 0 auto;
}


/* start of hamburger toggle */
#hamNav
{
	display: flex;
	flex-direction: column;
}

#hamNav button.expanded
{
	-webkit-transition: rotate(90deg);
	transition: rotate(90deg);
	transform: rotate(90deg);
}

#hamNav li a
{
	display: block;
	padding: 10px 0px 10px 0px;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

#hamNav li 
{
	border-bottom: 1px solid #fff;
}

#hamNav li:first-child
{
	border-top: 1px solid #fff;

}

#hamNav li:last-child
{
	border-top: 1px solid #fff;
}

/* button for hamburger pointer */
#hamNav button
{
	background: url(../images/hamburger_icon.svg) center no-repeat;
	width: 20px;
	height: 20px;
	border: 0px;
	cursor: pointer;
	  /*transition: all 400ms ease;*/
 		-webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  				transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#burgerCon
{
	margin-top: 20px;
	display: none;
}

#burgerCon.slideToggle
{
	display: block;
}
/* End of hamburger toggle */

/* Hide the main nav in mobile */
.showmainNav
{
	color: #fff;
	display: none;
}

.navdropdown
{
	color: #fff;
	display: none;
}

 /* Footer button styling */

#subsBut
{
	display: block;
	position: relative;
	top: -50px;
	width: 200px;
	background-color: purple;
	padding: 21px 10px;
	text-align: center;
	color: #fff;
	border-radius: 50px;
	margin: 0 auto;
}

/* subscribe button hover */
#subsBut:hover
{
	background-color: SlateBlue;
}

/* Subscribe Info for mobile is hidden */
.subscribeInfo
{
	display: none;
}

/* Universal button styling */
.button
{

	display: block;
    position: relative;
	width: 200px;
    background-color: purple;
    padding: 21px 10px;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    margin: 0 auto;
}

/* Universal button styling */
.button:hover
{
	display: block;
    position: relative;
	width: 200px;
    background-color: ;
    padding: 21px 10px;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    margin: 0 auto;
}

.hero
{
  background:url(../images/traa_hero_3.jpg) no-repeat center;
  height: 450px;
  margin-top: 40px;
  margin-bottom: 30px;

}

/* Light background tint */
#infoTint
{
    background-color: rgba(0, 0, 0, 0.3);
    height: 450px;
}

.heroCon
{
	display: flex;
    flex-direction: column;
    align-items: center;
	min-width: 340px;
	margin: 0 auto;
	padding: 30px;
}
.heroCon h3
{
	margin-top: 40px;
	text-align: center;
	color: #fff;
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.03em;
	margin-top: 45px;
	margin-bottom: 40px;

}

.heroCon p
{
	color: #fff;
	text-align: center;
	margin-bottom: 40px;
}

/* Space the feature images with padding */
.projectsLibrary
{
	margin-bottom: 30px;
	padding: 10px;
}

.projectImage
{
	color: #fff;
	min-width: 50%;
	height: 400px;
	background-color: Slateblue;
	text-align: center; 
	margin-bottom: 20px;
	
}

/* About section structure */



/* Contact section structure */

/* Mobile Footer */
.footerCon
{
	background-color: SlateBlue;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
	margin-top: 120px;
}

/************* MEDIA QUERY START *************/
/********************************************/
/* At 641 pixels and above do this */
@media screen and (min-width: 641px){

	.topInfo
	{
		margin-bottom: 18px;
	}

	.contactTop
	{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 300px;
		height: 0px; 
 	}
	
	.contactTop p
	{
		color: #fff;
	}
	
	/* Display content side by side */
	#mainHeader
	{
		display: flex;
		flex-direction: row;

	}
	/* center the content the the container */
	.products
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	/* hide the hamburger at a bigger screen above 641px */
		#hamNav
	{
		display: none;
	
	}
		
	.box
	{
		flex: 1 1 auto;
	}

	.nav
	{
		flex: 0 1 600px;
	}

	/* Main Logo */
	.logo
	{
		margin-left: 20px;
		margin-right: 20px;
		flex: 0 1 200px;
	}

	#traaLogo
	{
		display: block;
		max-width: 120px;
		margin: 0 auto;
	}

	/* Reveal menu structure */
	.showmainNav
	{	
		display: block;
		flex: 0 1 800px; /*flex 0 keeps nav from expanding too far and touching logo*/
		margin-left: auto;
	}

	.showmainNav li
	{
		display: inline-block;
	}

	/* menu title space and styling */
	.showmainNav li a
	{
		color: #fff;
		text-decoration: none;
	}
	
	/* drop downmenu start  */
	li:not(.nav-dropdown li) 
	{
		display: block;
		float: left;
		padding: 10px;
		position: relative;
		text-decoration: none;
		transition-duration: 0.2s;
	}
	
	li:hover 
	{
		cursor: pointer;
	}

	/* Hide the menu a standard */
	ul li ul 
	{
		width: 170px;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		-webkit-transition: all 600ms cubic-bezier(1, 0, 0, 1);
  		transition:         all 600ms cubic-bezier(1, 0, 0, 1);
		margin-top: 10px;
		/*	display: none; */	}

	ul li:hover > ul, ul li:focus within > ul, ul li ul:hover 
	{
		visibility: visible;
		display: block;
		opacity: 1;
		background-color: purple;
		padding: 15px; 
	}

	ul li ul li 
	{
		clear: both;
		padding-bottom: 20px;
		width: 100%;
	}

/* End menu  drop-down */

/* General section title universal structure for mobile */
	.sectionTitle h2
	{
		font-family: 'Noticia Text', Georgia, serif;
		font-weight: 700;
		font-size: 36px;
		letter-spacing: 0.03em;
		text-align: center;
		margin-bottom: 20px;
	}

	.heroCon
	{
		max-width: 540px;
		margin: 0 auto;
	}

	.heroCon h3
	{
		margin-top: 40px;
		text-align: center;
		color: #fff;
		font-family: 'Noticia Text', Georgia, serif;
		font-weight: 700;
		font-size: 28px;
		line-height: 32px;
		letter-spacing: 0.03em;
		margin-top: 50px;
		margin-bottom: 40px;
	}

.heroCon p
{
	color: #fff;
	text-align: center;
}

/* Column structure */
	.column1
	{ 
		background-color: purple;
		width: 50%;

	 }

	 .column2
	 {
	 	background-color: purple;
	 	width: 50%;
	 }
	
	.column3
	{
		background-color: purple;
		width: 50%;
	}

	.column4
	{
		background-color: purple;
		width: 50%;
	}

	.column4
	{
		background-color: purple;
		width: 50%;
	}

	.column5
	{
		background-color: purple;
		width: 100%;
	}

	.column6
	{
		background-color: purple;
		width: 50%;
	}

	.column7
	{
		background-color: purple;
		width: 50%;
	}
	/* Project section structure */
	.projectsContainer
	{	
		display: flex;
		flex-direction: column;

	}
	
	.projectsLibrary
	{
		display: flex;
		flex-direction: row;

	}
	
	.projectImage
	{
		background-color: purple;
		min-width: 40%;
		color: #fff;
		margin-right: 40px;
	}

	/* subscribe container */
	
		#subsBut
	 {
		top: 0;
		width: 200px;
		background-color: purple;
		padding: 21px 10px;
		text-align: center;
		color: #fff;
		border-radius: 50px;
		margin-right: 0;
	 }

	/* subscribe button hover */

	 #subsBut:hover
	 {
	    background-color: SlateBlue;
	 }

	/* Button goes to the left on desktop and tablet sizes */
	.button
	{

		margin: 0;
	}
	/* Button hover structure */
	.button:hover
	{
		background-color: Slateblue;
		margin: 0;
	}

	/* Reveal the subscribe Info */

	.subscribeInfo
	{
		display: block;
		width: 270px;
		height: 0;
	    color: #000;
	    text-align: left;
	    border-right: 1px solid #fff;
	}

	.subscribeCon
	{
		display: flex;
		justify-content: center;
		width: 600px;
		position: relative;
		top: -70px;
		border-radius: 4px;
		padding: 20px;
		margin: 0 auto;
		background-color: white;
		box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);

	}
	/* About section stucture */
	


	
	/* Contact section structure */
	.contactForm
	{
		width: 700px;
		height: 450px;
		padding: 20px;
		margin: 0 auto;
		
	}


	
}