@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }

/*switch box model*/
html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; 
}

body
{
	font-family: 'Source Sans Pro', Arial, sans-serif;
	margin: 0;
	padding: 0;
	letter-spacing: 0.03em;
}

/* Universal point size at 16px for body text */
p 
{	
	font-size: .873rem;
	line-height: 28px;
}

a 
{ 
  color:#000; 
  text-decoration: none;  
  transition:all .1s linear 0s;
}

/* General section title universal structure for mobile */
.sectionTitle
{
	margin-top: 40px;
	margin-bottom: 40px;
}

.sectionTitle h2
{
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 20px;
}

.siteContainer
{
	margin: 0 auto;
	max-width: 1140px;
}

.box 
{
  background-color: #417505;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

/* Top navigation structure */
.topInfo
{
	background-color: #417505;
	height: 0px;
	margin-bottom: 0px;
}

.contactTop
{
	display: none;
}

.socialmediaTop
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: center;
	margin-bottom: 18px;
}

.socialMedia ul li{
	display:  inline;
	justify-content: space-between;
	margin-left: 20px;
}


/* Main logo at mobile */
#traaLogo
{
  display: block;
  margin-top: 40px;
  max-width: 250px;
  margin: 0 auto;
}

/* start of hamburger toggle */
#hamNav
{
	display: flex;
	flex-direction: column;
}

#hamNav button.expanded
{
	-webkit-transition: rotate(90deg);
	transition: rotate(90deg);
	transform: rotate(90deg);
}

#hamNav li a
{
	display: block;
	padding: 10px 0px 10px 0px;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

#hamNav li 
{
	border-bottom: 1px solid #fff;
}

#hamNav li:first-child
{
	border-top: 1px solid #fff;

}

#hamNav li:last-child
{
	border-top: 1px solid #fff;
}

#mainHeader
{
	margin-top: 40px;
}

/* button for hamburger pointer */
#hamNav button
{
	background: url(../images/hamburger_icon.svg) center no-repeat;
	width: 20px;
	height: 20px;
	border: 0px;
	cursor: pointer;
	  /*transition: all 400ms ease;*/
 		-webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  				transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#burgerCon
{
	margin-top: 20px;
	display: none;
}

#burgerCon.slideToggle
{
	display: block;
}
/* End of hamburger toggle */

/* Hide the main nav in mobile */
.showmainNav
{
	color: #fff;
	display: none;
}

.navdropdown
{
	color: #fff;
	display: none;
}

 /* Footer button styling */

#subsBut
{
	display: block;
	position: relative;
	top: -50px;
	width: 200px;
	background-color: #68C20E;
	padding: 21px 10px;
	text-align: center;
	color: #fff;
	border-radius: 50px;
	margin: 0 auto;
}

/* subscribe button hover */
#subsBut:hover
{
	background-color: #417505;
}

/* Subscribe Info for mobile is hidden */
.subscribeInfo
{
	display: none;
}

/* Universal button styling */
.button
{

	display: block;
    position: relative;
	width: 200px;
    background-color: #68C20E;
    padding: 21px 10px;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    margin: 0 auto;
}

/* Universal button styling */
.button:hover
{
	display: block;
    position: relative;
	width: 200px;
    background-color: #417505;
    padding: 21px 10px;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    margin: 0 auto;
}

.hero
{
	height: 450px;
  	margin-top: 40px;
  	margin-bottom: 30px;

}

.hero
	{
	background: 
		linear-gradient(
	    rgba(0, 0, 0, 0.3), 
	    rgba(0, 0, 0, 0.3)
    ),
	    url(../images/traa_hero_3.jpg) no-repeat center;
	}


/* Hero section stucture */
.heroCon
{
	display: flex;
    flex-direction: column;
    align-items: center;
	min-width: 340px;
	margin: 0 auto;
	padding: 30px;
}

.heroCon h3
{
	margin-top: 40px;
	text-align: center;
	color: #fff;
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.03em;
	margin-top: 45px;
	margin-bottom: 40px;

}

.heroCon p
{
	color: #fff;
	text-align: center;
	margin-bottom: 40px;
}

.projectCon p
{
	margin-bottom: 40px;
}

/* Space the feature images with padding */
.projectsLibrary
{
	margin-bottom: 30px;
	padding: 10px;
}

.projectsInfo
{
	min-width: 250px;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}

 /* Highlight text in yellow */ 
#highLight
{
	color: #CA9731;
}

/* Trout and Rob Building Section  /* Black by default */
.subTitle
{
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.03em;
	text-align: center; 
	margin-top: 40px; 
	margin-bottom: 40px;
}

.subtitleCopy 
{
	max-width: 310px;
	text-align: center;
	margin: 0 auto;
}


/* Push the */
.column2{
	margin-top: 40px;
}

#sectionTint
{
	width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 450px;
}


.fundingCon
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fundingCon h3
{
	color: #fff;
	margin-top: 90px;
}

.fundingCon p
{	max-width: 250px;
	color: #fff;
	margin-bottom: 40px;
}

.fundingHero
{
	background:url(../images/vashishtha-jogi-66779-unsplash_funding_3.jpg) no-repeat center;
	height: 450px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.shopHero
{
	background:url(../images/traa_shop_2.jpg) no-repeat center;
	height: 450px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.shopCon
{
	margin-top: 50px;
}

.sectionQuote p
{
	padding: 30px;
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.03em;
	text-align: center;
	margin: 0 auto;
}
/*  Volunteer Section Structure */

.volunteerCon
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.volunteerPerson
{
	font-family: 'Source Sans Pro', Arial, sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 28px;
	text-align: center;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #d6d6d6;
}

.column6
{
	background-color: #F8F9F9;
	box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);	
}

.column6 p
{
	font-family: 'Source Sans Pro', Arial, sans-serif;
	color: #696969;
	font-weight: 300;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.column8
{
	text-align: left;
}

/* Volunteer Section gapping */
.volunteer
{
	margin-bottom: 40px;
}

/* Partner section structure */
.partnerCon
{
	display: flex;
    flex-direction: column;
    align-items: center;

}
.partnerCon .column7
{
	margin-bottom: 40px;
}

/* Mobile Footer */
.footerCon
{
	background-color:  #254500;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
	margin-top: 120px;
}

.footerService
{
	max-width: 357px;
  	padding: 20px;
    margin-bottom: 30px;
	margin: 0 auto;
}

/* our mission start */
.footerTitle
{
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.03em;
	text-align: left;
	margin-bottom: 20px;
}

.footerTitle p
{
	width: 225px;
	text-align: left;
}

/* Our mission start */
.footerTitle h4
{
	width: 260px;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.02em;
}
.footerTitle p
{
	width: 200px;
	margin-top: 25px;
	color: #fff;
}

.quickLinks
{
	width: 260px;
	color: #fff;
	border-right: 1px solid #fff;
}

.quickLinks p img
{
	margin-right: 10px;
	text-align: center;
	text-transform: uppercase;
}

.quickLinks a
{
	font-size: 16px;
	color: #fff;
}



/*************************************************************************/
/************* MEDIA QUERY START ****************************************/
/***********************************************************************/
/* At 641 pixels and above do this */
@media screen and (min-width: 641px){

	.topInfo
	{
		margin-bottom: 18px;
	}

	.contactTop
	{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 300px;
		height: 0px; 
 	}
	
	.contactTop p
	{
		color: #fff;
	}
	
	/* Display content side by side */
	#mainHeader
	{
		display: flex;
		flex-direction: row;
		margin-top: 40px;

	}

	/* center the content the the container */
	.products
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	/* hide the hamburger at a bigger screen above 641px */
		#hamNav
	{
		display: none;
	
	}
		
	.box
	{
		flex: 1 1 auto;
	}

	.nav
	{
		flex: 0 1 600px;
	}

	/* Main Logo */
	.logo
	{
		margin-left: 20px;
		margin-right: 20px;
		flex: 0 1 200px;
	}

	/* Logo desktop sizing */
	#traaLogo
	{
		display: block;
		max-width: 120px;
		margin: 0 auto;
	}

	/* Desktop menu structure  */
	.showmainNav
	{	
		display: block;
		flex: 0 1 800px; /*flex 0 keeps nav from expanding too far and touching logo*/
		font-weight: 600;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		margin-top: 40px;
		margin-left: auto;
	}

	.showmainNav li
	{
		display: inline-block;
		
	}
	/* Desktop Menu title space and styling */
	.showmainNav li a
	{
		color: #000;
		margin-left: 40px;
		text-decoration: none;
	}

	.nav-dropdown li a
	{
		font-weight: 400;
		color: #fff;
	}
	/* drop downmenu start  */
	li:not(.nav-dropdown li) 
	{
		display: block;
		color: #fff;
		float: left;
		padding: 10px;
		position: relative;
		text-decoration: none;
		transition-duration: 0.2s;
	}
	
	li
	{
		display: block;
		transition-duration: 0.5s;
	}
	/* Go directly to and hover*/
	.nav-dropdown > li:hover 
	{
		cursor: pointer;
		background-color: rgba(37, 69, 14, 0.6);
		
	}

	/* Hide the menu a standard */
	ul li ul 
	{
		width: 170px;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		-webkit-transition: all 600ms cubic-bezier(1, 0, 0, 1);
  		transition:         all 600ms cubic-bezier(1, 0, 0, 1);
		margin-top: 0.9rem;
	}

	/* Show the dropdown menu */
	ul li:hover > ul, ul li:focus within > ul, ul li ul:hover 
	{
		visibility: visible;
		opacity: 1;
		display: block;
		background-color: #417505;

	}

	ul li ul li 
	{
		clear: both;
	    border-top: 1px solid #fff;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    width: 100%;
	}

/* End menu  drop-down */
/* General section title universal structure for Desktop */

	.sectionTitle
	{
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.sectionTitle h2
	{
		font-family: 'Noticia Text', Georgia, serif;
		font-weight: 700;
		font-size: 36px;
		letter-spacing: 0.03em;
		text-align: center;
		margin-bottom: 20px;
	}

	.sectionQuote p
	{
		max-width: 900px;
		font-family: 'Noticia Text', Georgia, serif;
		font-weight: 700;
		font-size: 36px;
		line-height: 40px;
		letter-spacing: 0.03em;
		text-align: center;
		margin: 0 auto;
	}

/* Column structure */
	.column1
	{
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;

	 }

	 .column2
	 {
	 	width: 50%;
	 	display: flex;
		flex-direction: column;
		align-items: center;
	 	margin-top: 0px;
	 }
	
	.column3
	{
		background-color: purple;
		width: 50%;
	}

	.column4
	{
		background-color: purple;
		width: 50%;
	}

	.column4
	{
		background-color: purple;
		width: 50%;
	}

	.column5
	{
		background-color: purple;
		width: 100%;
	}

	.column6
	{
		background-color: #F8F9F9;
		width: 50%;
		box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);
	}

	.column7
	{
		width: 50%;

	}

	.column8
	{	
	    display: flex;
	    flex-direction: column;
	}
	
	/******************************/
	/* Project section structure */
	.hero
	{
		background: 
			linear-gradient(
		    rgba(0, 0, 0, 0.3), 
		    rgba(0, 0, 0, 0.3)
	    ),
	    url(../images/traa_hero_1.jpg) no-repeat center;
	}

	.projectsContainer
	{	
		display: flex;
		flex-direction: column;

	}
	
	.projectsLibrary
	{
		display: flex;
		flex-direction: row;

	}
	
	.projectImage
	{
		background-color: purple;
		min-width: 40%;
		color: #fff;
		margin-right: 40px;
	}

	.heroCon
	{
		max-width: 540px;
		margin: 0 auto;
	}

	.heroCon h3
	{
		margin-top: 40px;
		text-align: center;
		color: #fff;
		font-family: 'Noticia Text', Georgia, serif;
		font-weight: 700;
		font-size: 36px;
		line-height: 40px;
		letter-spacing: 0.03em;
		margin-top: 50px;
		margin-bottom: 30px;
	}

	.heroCon p
	{
		color: #fff;
		text-align: center;
	}

	.projectsLibrary
	{
		margin-bottom: 30px;
		padding: 10px;
	}

	.projectsInfo
	{
		max-width: 750px;
		text-align: center;
		padding: 20px;
		margin-bottom: 20px;
	}

	/* Black by default */
	.subTitle
	{
		font-family: 'Noticia Text', Georgia, serif;
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0.03em;
		text-align: center; 
		margin-top: 80px; 
		margin-bottom: 40px;
	}

	.subtitleCopy 
	{
		max-width: 360px;
		text-align: center;
		margin-bottom: 40px;
	}

	.projectCon
	{
		display: flex;
		flex-direction: row;
	}

	.projectCon
	{
		margin-top: 40px;
	}

	/* Funding structure section */
	.fundingCon 
	{	
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.fundingCon h3
	{
		font-family: 'Noticia Text', Georgia, serif;
		font-weight: 700;
		font-size: 36px;
		letter-spacing: 0.03em;
		text-align: center;
		margin-bottom: 30px;
	}

	.fundingCon p
	{	max-width: 380px;

	}
	
	.fundingHero
	{
		background:url(../images/vashishtha-jogi-66779-unsplash_funding_1.jpg) no-repeat center;
		height: 450px;
		margin-top: 40px;
		margin-bottom: 30px;
	}
	
	.shopHero
	{
		background:url(../images/traa_shop_1.jpg) no-repeat center;
		height: 450px;
		margin-top: 40px;
		margin-bottom: 30px;
	}
	
	/* Partner section structure */
	.partnerCon
	{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	/* Subscribe container */
		#subsBut
	 {
		top: 0;
		width: 200px;
		background-color: #68C20E;
		padding: 21px 10px;
		text-align: center;
		color: #fff;
		border-radius: 50px;
		margin-right: 0;
	 }

	/* Subscribe button hover */
	 #subsBut:hover
	 {
		background-color: #417505;
	 }

	/* Button goes to the left on desktop and tablet sizes */
	.button
	{
		margin: 0;
	}

	/* Button hover structure */
	.button:hover
	{
		background-color: #417505;
		margin: 0;
	}

	/* Reveal the subscribe Info */
	.subscribeInfo
	{
		display: block;
		width: 270px;
		height: 0;
	    color: #000;
	    text-align: left;
	    border-right: 1px solid #fff;
	}

	.subscribeCon
	{
		display: flex;
		justify-content: space-between;
		width: 600px;
		position: relative;
		top: -70px;
		border-radius: 4px;
		padding: 20px;
		margin: 0 auto;
		background-color: white;
		box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);
	}

	.subscribeCon h3
	{
		font-family: 'Source Sans Pro', Arial, sans-serif;
		font-weight: 400;
		font-size: 20px;
		margin-top: 5px;
		margin-bottom: 5px;

	}
	
	.subscribeCon p
	{
		font-family: 'Source Sans Pro', Arial, sans-serif;
		font-weight: 600;
		font-size: 24px;

	}

	#borderLine
	{
		width: 273px;
		border-right: 1px solid #000;
	}

	/* Contact section structure */
	.contactForm
	{
		width: 700px;
		height: 450px;
		padding: 20px;
		margin: 0 auto;
		
	}
	/* Desktop footer structure */
	.footerService 
	{
		max-width: 1024px;
		margin: 0 auto;
		padding: 20px;
	}
	
	.footerCopy p
	{
		max-width: 220px;

	}
	
	
}