@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }

/*switch box model*/
html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; 
}

body
{
	font-family: 'Source Sans Pro', Arial, sans-serif;
	margin: 0;
	padding: 0;
	letter-spacing: 0.03em;
}

/* Universal point size at 16px for body text */
p 
{	
	font-size: 16px;
	line-height: 28px;
}

a 
{ 
  color:#000; 
  text-decoration: none;  
  transition:all .1s linear 0s;
}

label
{
    font-size: 12px;
    letter-spacing: 0.03em;
}

/* Universal styling for all articles */
article
{
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
}

/* General section title universal structure for mobile */
.sectionTitle
{
	margin-top: 40px;
	margin-bottom: 40px;
}

.sectionTitle h2
{
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 20px;
}

.siteContainer
{
	margin: 0 auto;
	max-width: 1140px;
}

.box 
{
  background-color: #417505;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Top navigation structure */
.topInfo
{
	background-color: #417505;
	height: 0px;
	margin-bottom: 0px;
}

.contactTop
{
	display: none;
}

.socialmediaTop
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: center;
	margin-bottom: 18px;
}

.socialMedia ul li{
	display:  inline;
	justify-content: space-between;
	margin-left: 20px;
}


/* Main logo at mobile */
#traaLogo
{
  display: block;
  margin-top: 40px;
  max-width: 250px;
  margin: 0 auto;
}

/* start of hamburger toggle */
#hamNav
{
	display: flex;
	flex-direction: column;
}

#hamNav button.expanded
{
	-webkit-transition: rotate(90deg);
	transition: rotate(90deg);
	transform: rotate(90deg);
}

#hamNav li a
{
	display: block;
	padding: 10px 0px 10px 0px;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

#hamNav li 
{
	border-bottom: 1px solid #fff;
}

#hamNav li:first-child
{
	border-top: 1px solid #fff;

}

#hamNav li:last-child
{
	border-top: 1px solid #fff;
}

#mainHeader
{
	margin-top: 40px;
}

/* button for hamburger pointer */
#hamNav button
{
	background: url(../images/hamburger_icon.svg) center no-repeat;
	width: 20px;
	height: 20px;
	border: 0px;
	cursor: pointer;
	  /*transition: all 400ms ease;*/
 		-webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  				transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#burgerCon
{
	margin-top: 20px;
	display: none;
	overflow: scroll
}

#burgerCon.slideToggle
{
	display: block;
}
/* End of hamburger toggle */

/* Hide the main nav in mobile */
.showmainNav
{
	color: #fff;
	display: none;
}

.navdropdown
{
	color: #fff;
	display: none;
}

 /* Footer button styling */

#subsBut
{
	display: block;
	position: relative;
	top: -50px;
	width: 200px;
	background-color: #68C20E;
	padding: 21px 10px;
	text-align: center;
	color: #fff;
	border-radius: 50px;
	margin: 0 auto;
}

/* subscribe button hover */
#subsBut:hover
{
	background-color: #417505;
}

/* Subscribe Info for mobile is hidden */
.subscribeInfo
{
	display: none;
}

/********* Universal button styling ********/
.button
{

	display: block;
	position: relative;
	width: 200px;
	background-color: #68C20E;
	padding: 21px 10px;
	text-align: center;
	color: #fff;
	border-radius: 50px;
	margin: 0 auto;
}

/* Universal button styling */
.button:hover
{
	display: block;
	position: relative;
	width: 200px;
	background-color: #417505;
	padding: 21px 10px;
	text-align: center;
	color: #fff;
	border-radius: 50px;
	margin: 0 auto;
}

/******************************************/
/* Modal buttons section */

.box 
{
  color: #fff;
  /*border-radius: 5px;*/
  padding: 20px;
  /*margin: 10px;*/
}

/* About section structure */
.aboutTitle_1
{
	width: 255px;
	margin: 0 auto;
	margin-top: 50px;
}

.aboutTitle_1 p
{
	font-family: 'Noticia Text', serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 20px;
	line-height: 28px;
}

.aboutTitle_2
{
	width: 300px;
	margin: 0 auto;
}

.aboutTitle_2 p
{
	font-family: 'Noticia Text', serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	padding: 20px;
	text-align: center;
	margin: 10px;

}

.aboutTitle_3 
{
	width: 300px;
	margin: 0 auto;

}

.aboutTitle_3 p
{
	font-family: 'Noticia Text', serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-align: center;
	margin: 10px;


}


/*this is the hero image section for about page*/
.aboutHeroimg
{
	display: block;
	flex-direction: row;
  	text-align: center;
  	margin: 10px;
}


/*this is the section for the aboutText*/
.aboutText
{
	font-size: 14px;
	text-align: left;
  padding: 20px;
  text-align: left;
 	margin: 10px;

}

.aboutText p
{
	margin-bottom: 20px;
}

.aboutPoint
{
	font-size: 14px;
	text-align: left;
	border-radius: 5px;
	padding: 20px;
	text-align: left;
	margin: 10px;
	letter-spacing: 1px;
}

.aboutPoint p
{
	margin-bottom: 20px;
}

/*end of the aboutText*/


.aboutProducts1
{
	margin: 0 auto;
	border-bottom: 1px solid black;
	width: 300px;
	margin-bottom: 50px;
}


.aboutColumn
{
	text-align: center;
	margin-bottom: 55px;	
	border-radius: 4px;
}

.aboutColumn h3 
{
   margin-top: 80px;
   font-size: 24px;
   line-height: 28px;
   font-weight: 300;
}

.aboutColumn p
{
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
	letter-spacing: 0.03em;
	line-height: 20px;
}

.profileImageabout
{
	width: 120px;
	height: 120px;
	position: relative;
	top: 40px;
	border-radius: 100px;
	margin: 0 auto;

}

.profileImageabout img
{
	border-radius: 100px;
}

.aboutBg
{
	justify-content: center;
	position: relative;
	z-index: -2;
	margin-top: 150px;
	margin-bottom: -130px;
}

/*end of about profile section*/


/* Contact section structure */

.contactProducts p
{
	font-size: 18px;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 50px;
}

#googleMap
{
	display: block;
	align-items: center;
	overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    height: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#googleMap iframe
{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position: absolute;
 	border-radius: 5px;
}


#contactForm
{
	display: block;
    margin: 0 auto;
    background-color: white;
    position: relative;
    bottom: 50px;
   /*	box-shadow: 10px 10px 5px #dcdcdc;*/
   	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   	margin-left: 10px;
   	margin-right: 10px;
   	margin-top: -15px;
   	padding-bottom: 10px;
   	letter-spacing: 0.03em;
}

#contactINFO 
{
	/*flex-direction: column;*/
	margin: 50px;
  	font-size: 18px;
  	margin-bottom: 30px;
  	padding-top: 20px;
  	padding: 10px;
  	position: relative;
}

#contactINFO h3
{
	font-weight: 600;
	padding-top: 30px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
	font-size: 18px;
}

#contactINFO p
{
	width: 75%;
	margin: 0 auto;
	text-align: left;
}

.contactLable
{
	display: flex;
	/*background-color: #696969;*/
	height: 736px;
	margin: 50px;
	justify-content: center;
	font-size: 18px;
	position: relative;
}

.contactLable p
{
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 50px;
}

#contactUi
{
	margin-top: 30px;
}


.contactLable input, textarea
{
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  height: 10px;
  background-color: #efefef;
  display: block;
  border-style: none;
  color: black;

}

#formTitle
{
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 50px;
	column-rule: red;
}

#messages
{
  width: 300px;
  height: 200px;
  margin-bottom: 50px;
}

#submit
{
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 250px;
	height: 45px;
	padding: 15px;
	text-align: center;
	margin-top: -35px;
	border-radius: 25px;
	color: #fff;
	background-color: #68C20E;
	-webkit-transition: color 0.4s ease-out;
  	-moz-transition: color 0.4s ease-out;
  	-o-transition: color 0.4s ease-out;
  	transition: color 0.4s ease-out;
	

}

/*end of the contact page*/

/*section for aaron starts*/
/* MODAL STARTS HERE */
/* justify content horizontally and verically with align-items */
/* display none will hide it then you reveal it Javascript */
.card-container 
{
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card 
{
	width: 230px;
	height: 300px;
	border: 1px solid darkgray;
	border-radius: 3px;
	margin: 10px;
}

.bgModal
{ 
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	z-index: 1;
}

#instructionCon
{ 
  line-height: 24px;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  margin: 0 auto;
}

#intro
{
  margin-bottom: 40px;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 40px;
}

/* Estbalishing the border in the middle */
#contactArea
{
  width: 469px;
  border-right: solid 1px #ccc;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #000;

}

#contactText
{
  font-size: 18px;
  margin-bottom: 12px;
  color: #000;
}

/* Small gray text*/
#smallTitle
{
  font-size: 14px;
  color: #c2c2c2;
  margin-bottom: 5px;
}

/* Donate text */
#contactsubText
{
  font-size: 12px;
  color: #c2c2c2;
  margin-bottom: 10px;
}

/* Donate Button styling */
#donateCon
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#donateCon a
{
  text-decoration: none;
}

/* Button sytling */
.donateBut
{
  width: 60px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #68C20E;
}

.donateBut:hover
{
    width: 60px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #417505;
}

input, textarea
{
  display: block;
  padding: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 280px;
  border: 1px solid #999;
  border-style: none;
  background-color: #ececec;
}

#comments
{
  width: 280px;
  height: 50px;
}

.submit
{
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.03em;
  width: 200px;
  padding: 21px 10px;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  background-color: #68C20E;
  margin: 0 auto;
}

.submit:hover
{
  background-color: #417505;
}

/* The '+' positioned to its closest parent which is the modal */
.modalContent
{ 
	top: 20%;
    bottom: 50%;
    position: relative;
    width: 320px;
    height: 790px;
    background-color: #fff;
    border-radius: 4px;
    z-index: 1;
}

/* Universal button styling */
.button
{
  display: block;
  position: relative;
  width: 200px;
  padding: 21px 10px;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  margin: 0 auto;
}

/* Universal button styling */
.button:hover
{
  display: block;
  position: relative;
  width: 200px;
  padding: 21px 10px;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  margin: 0 auto;
}

.close
{
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: #000;
}


/*****************************************/
.hero
{
	height: 450px;
  	margin-top: 40px;
  	margin-bottom: 30px;

}

.hero
	{
	background: 
		linear-gradient(
	    rgba(0, 0, 0, 0.3), 
	    rgba(0, 0, 0, 0.3)
    ),
	    url(../images/traa_hero_3.jpg) no-repeat center;
	}


/* Hero section stucture */
.heroFeature
{
	display: flex;
    flex-direction: column;
    align-items: center;
	min-width: 340px;
	margin: 0 auto;
	padding: 30px;
}

.heroFeature h3
{
	margin-top: 40px;
	text-align: center;
	color: #fff;
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.03em;
	margin-top: 45px;
	margin-bottom: 40px;

}

.heroFeature p
{
	color: #fff;
	text-align: center;
	margin-bottom: 40px;
}

.projectCon p
{
	margin-bottom: 40px;
}

/* Space the feature images with padding */
.projectsLibrary
{
	margin-bottom: 30px;
	padding: 10px;
}

.projectsInfo
{
	min-width: 250px;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}

 /* Highlight text in yellow */ 
#highLight
{
	color: #CA9731;
}

/* Trout and Rob Building Section  /* Black by default */
.subTitle
{
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.03em;
	text-align: center; 
	margin-top: 40px; 
	margin-bottom: 40px;
}

.subtitleCopy 
{
	max-width: 310px;
	text-align: center;
	margin: 0 auto;
}


/* Push the */
.column2{
	margin-top: 40px;
}

#sectionTint
{
	width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 450px;
}


.fundingCon
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fundingCon h3
{
	color: #fff;
	margin-top: 90px;
}

.fundingCon p
{	max-width: 250px;
	color: #fff;
	margin-bottom: 40px;
}

.fundingHero
{
	background:url(../images/vashishtha-jogi-66779-unsplash_funding_3.jpg) no-repeat center;
	height: 450px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.shopHero
{
	background:url(../images/traa_shop_2.jpg) no-repeat center;
	height: 450px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.shopCon
{
	margin-top: 50px;
}

.sectionQuote p
{
	padding: 30px;
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.03em;
	text-align: center;
	margin: 0 auto;
}
/*  Volunteer Section Structure */

.volunteerCon
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.volunteerPerson
{
	font-family: 'Source Sans Pro', Arial, sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 28px;
	text-align: center;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #d6d6d6;
}

.column6
{	
	margin: 10px;
	background-color: #F8F9F9;
	box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);	
}

.column6 p
{
	font-family: 'Source Sans Pro', Arial, sans-serif;
	color: #696969;
	font-weight: 300;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.column8
{
	text-align: left;
}

/* Volunteer Section gapping */
.volunteer
{
	margin-bottom: 40px;
}

/* Partner section structure */
.partnerCon
{
	display: flex;
  flex-direction: column;
  align-items: center;

}
.partnerCon .column7
{
	margin-bottom: 40px;
}
/*this is the section for aaron*/

/* Mobile Footer */

.footerCon
{
	background-color:  #254500;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 120px;
}

.footerService
{
	max-width: 357px;
  	padding: 20px;
    margin-bottom: 30px;
	margin: 0 auto;
}

/* our mission start */
.footerTitle
{
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.03em;
	text-align: left;
	margin-bottom: 20px;
}

.footerTitle p
{
	width: 225px;
	text-align: left;
}

/* Our mission start */
.footerTitle h4
{
	width: 260px;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.02em;
}
.footerTitle p
{
	width: 200px;
	margin-top: 25px;
	color: #fff;
}

.quickLinks
{
	width: 260px;
	color: #fff;
	border-right: 1px solid #fff;
}

.quickLinks p img
{
	margin-right: 10px;
	text-align: center;
	text-transform: uppercase;
}

.quickLinks a
{
	font-size: 16px;
	color: #fff;
}



/* Mobile section structure */
.projectfeature-title h2
{
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.03em;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}


.projectfeature-title p
{
	text-align: center;
	margin: 0 auto;	
	margin-bottom: 40px;
}

.italicStyle
{
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	font-style: italic;

}

/* Target the gray explainer text */
.labelGray
{
	display: block;
	text-align: left;
	color:#c2c2c2;
}

/* Membership card */
.membershipCon
{
	display: flex;
	flex-direction: column;
	justify-content:space-around;
}

.membership_card_1
{
	background:url(../images/membership_card.png) no-repeat center;
	height: 407px;
	margin-bottom: 20px;
	cursor: pointer;
}

.membership_card_2
{
	background:url(../images/membership_card.png) no-repeat center;
	height: 407px;
	margin-bottom: 20px;
	cursor: pointer;
}

.membershipSubtext
{
	padding: 20px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}

.membershipTitle
{
	font-family: 'Noticia Text', Georgia, serif;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin-top: 70px;
}

#membershipPrice
{
	padding: 50px;
	font-size: 60px;
	letter-spacing: 0.03em;
	font-weight: 700;
	text-align: center;	
}

.membership_card_1
	{
		margin-bottom: 40px;
	}
	/* Membership card */
.membershipCon
{
	display: flex;
	flex-direction: column;
	justify-content:space-around;
}

.membership_card_1
{
	background:url(../images/membership_card.png) no-repeat center;
	height: 407px;
	margin-bottom: 20px;
}

.membership_card_1:hover
{	
	opacity: 0.7;
  	filter: alpha(opacity=50); /* For IE8 and earlier */

}

.membership_card_2:hover
{	
	opacity: 0.7;
  	filter: alpha(opacity=50); /* For IE8 and earlier */

}

.membership_card_2
{
	background:url(../images/membership_card.png) no-repeat center;
	height: 407px;
	margin-bottom: 20px;
}

.membershipSubtext
{
	padding: 20px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}

.membershipTitle
{
	font-family: 'Noticia Text', Georgia, serif;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin-top: 70px;
}

.membershipPrice
{
	margin-bottom: 29px;
    padding: 18px;
    font-size: 60px;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-align: center;	
}

.membership_card_1
{
	margin-bottom: 40px;
}

/* Keyline for membership page */
hr
{
	display: inline-block;
	width: 60px;
	margin-top: 20px;
}

/* Shop section stucture mobile  */
.productCon
{
	display: flex;
	flex-direction: column;
}

/* Clothing wrapper */
.productItem
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 350px;
  padding: 5px;
  margin: 0 auto;
}

/* tshirt image */
.T-Shirt
{
	padding: 20px;
	margin: 0 auto;
}

/* image color selection */
.T-Shirt_color
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

.shopTitle
{
	flex-grow: 1;
}

#shopsubText
{
	font-size: 13px;
	color: #696969;
	margin-bottom: 40px;
}

.shopTitle h2
{
	font-weight: 600;
	font-size: 26px;
	text-align: left;
	line-height: 35px;
	margin-bottom: 20px;
}

.shopsubTitle
{
	font-size: 24px;
	font-weight: 400;
	color: #d4d4d4;
}

#formQuantity
{
	width: 50px;
}

.shopPerks
{
	margin-top: 40px;
}

.shopclothing-text
{
	font-size: 16px;
	max-width: 85%;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: left;
}


/* Shop end mobile */


/*Salmonid Project section mobile*/

#salmonidHeroimg
{
	display: flex;
	align-items: center;
	flex-direction: column;
	/*height: 600px;*/
	overflow:hidden;
    padding-bottom: 100%;
    position:relative;
    width: 100%;
    height: 0;
	z-index: -1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#hatcheryDetail
{
	display: block;
    margin: 0 auto;
    background-color: white;
    position: relative;
    /*bottom: 50px;*/
   /*	box-shadow: 10px 10px 5px #dcdcdc;*/
   	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   	margin-left: 10px;
   	margin-right: 10px;
   	margin-top: -15px;
   	padding-bottom: 10px;
   	letter-spacing: 0.03em;
}

.firstcharacter
{
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	color: #35700d;
	float: left;
	font-size: 75px;
	line-height: 42px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
}


.floatedLeft
{
	/*width: 533px;*/
	float: left;
	padding: 10px;

}

/* text wrap */
.floatedRight
{
	/*width: 400px;*/
	float: right;
	padding: 10px;
}

.boldStyling
{
	font-size: 16px; 
	font-weight: 600;
	color: #d8ae58;
}

#hatcheryInfo 
{
	/*flex-direction: column;*/
	margin: 0 auto;
  	font-size: 18px;
  	margin-bottom: 30px;
  	padding-top: 20px;
  	padding: 10px;
  	position: relative;
}

#hatcheryInfo h3
{
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

#hatcheryInfo p
{
	width: 75%;
	margin: 0 auto;
	text-align: left;
}


/*end of salmonid project section mobile*/



/* Gallery frame */
.galleryFrame
{
	padding: 2px;
	text-align: center;
	margin: 5px;
	cursor: pointer;
	overflow: hidden;
	transform: scale(1, 1);
	transition: background 0.3s linear 0s, transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.galleryFrame:hover
{
	opacity: 0.8;
	transform: scale(1.1);
	transition-delay: 0.2s;
	z-index: 1;
}


/* add styles here for lightbox and video */
.lightbox 
{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 615%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.9);
	display: none;
	z-index: 1;
}

.lightbox-on
{
	display: block;
}

.lightbox-close
{
	position: absolute;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	right: 20px;
	top: 540px;
}

video {
	width: 80%;
	margin-top: 150%;
	border: thin solid #949393;
}

/*end of the video for the event page mobile */


/******** MEDIA QUERY START **********/
/************************************/
/* At 641 pixels and above do this */
@media screen and (min-width: 641px){

	/* Display content side by side */
	.topInfo
	{
		margin-bottom: 18px;
	}

	.contactTop
	{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 360px;
		height: 0px; 
 	}

	/* put the telephone and email horizontal */
	.contactTop div
	{
		display: flex;
		justify-content: inherit;
		flex-basis: 50%;
	}

	.contactTop p
	{
		color: #fff;
	}

	/*start of aaron's section*/
	
	/*end of aarons section*/
	/* Display content side by side */
	#mainHeader
	{
		display: flex;
		flex-direction: row;
		margin-top: 40px;

	}

	/* center the content the the container */
	.products
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	/* hide the hamburger at a bigger screen above 641px */
		#hamNav
	{
		display: none;
	
	}
		
	.box
	{
		flex: 1 1 auto;
	}

	.nav
	{
		flex: 0 1 600px;
	}

	/* Main Logo */
	.logo
	{
		margin-left: 20px;
		margin-right: 20px;
		flex: 0 1 200px;
		cursor: pointer;
	}

	/* Logo desktop sizing */
	#traaLogo
	{
		display: block;
		max-width: 120px;
		margin: 0 auto;
	}

	/* Desktop menu structure  */
	.showmainNav
	{	
		display: block;
		flex: 0 1 800px; /*flex 0 keeps nav from expanding too far and touching logo*/
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		margin-top: 40px;
		margin-left: auto;
	}

	.showmainNav li
	{
		display: inline-block;
		
	}
	/* Desktop Menu title space and styling */
	.showmainNav li a
	{
		color: #000;
		/* margin-left: 15px; */
		text-decoration: none;
	}

	.nav-dropdown li a
	{
		font-weight: 400;
		color: #fff;
	}
	/* drop downmenu start  */
	li:not(.nav-dropdown li) 
	{
		display: block;
		color: #fff;
		float: left;
		position: relative;
		text-decoration: none;
		transition-duration: 0.2s;
	}
	
	li
	{
		display: block;
		transition-duration: 0.5s;
	}
	/* Go directly to and hover*/
	.nav-dropdown > li:hover 
	{
		cursor: pointer;
		background-color: rgba(37, 69, 14, 0.6);
		
	}

	/* Hide the menu a standard */
	ul li ul 
	{
		width: 150px;
		text-align: center;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		-webkit-transition: all 600ms cubic-bezier(1, 0, 0, 1);
  		transition:         all 600ms cubic-bezier(1, 0, 0, 1);
		margin-top: 0.9rem;
	}

	/* Show the dropdown menu */
	ul li:hover > ul, ul li:focus within > ul, ul li ul:hover 
	{
		margin-left: -60px;
		visibility: visible;
		opacity: 1;
		display: block;
		background-color: #417505;

	}

	ul li ul li 
	{
		clear: both;
	    border-top: 1px solid #fff;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    width: 100%;
	}

	/* Make the Membership padding green */
	#hightlightGreen
	{
	    background-color: #417505;
	    padding: 14px;
	    border-radius: 50px;
			color: #fff;
			box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
	}

	#hightlightGreen:hover
	{
  		background-color: #254500;
	    padding: 14px;
	    border-radius: 50px;
	    color: #fff;
	}		
	
/* End menu  drop-down */
/* Space the main nav evenly for tablet to desktop */
	.nav-links
	{
			display: flex;
			justify-content: space-between;
			width: 98%;
	}

/* General section title universal structure for Desktop */

	.sectionTitle
	{
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.sectionTitle h2
	{
		font-family: 'Noticia Text', Georgia, serif;
		font-weight: 700;
		font-size: 36px;
		letter-spacing: 0.03em;
		text-align: center;
		margin-bottom: 20px;
	}

	.sectionQuote p
	{
		max-width: 900px;
		font-family: 'Noticia Text', Georgia, serif;
		font-weight: 700;
		font-size: 36px;
		line-height: 40px;
		letter-spacing: 0.03em;
		text-align: center;
		margin: 0 auto;
	}


	
/* Column structure */
	.column1
	{
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;

	 }

	 .column2
	 {
	 	width: 50%;
	 	display: flex;
		flex-direction: column;
		align-items: center;
	 	margin-top: 0px;
	 }
	
	.column3
	{
		background-color: purple;
		width: 50%;
	}

	.column4
	{
		background-color: purple;
		width: 50%;
	}

	.column4
	{
		background-color: purple;
		width: 50%;
	}

	.column5
	{
		width: 100%;
		height: auto;
	}

	.column6
	{
		margin: 10px;
		background-color: #F8F9F9;
		width: 50%;
		box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);
	}

	.column7
	{
		width: 50%;

	}

	.column8
	{	
	    display: flex;
	    flex-direction: column;
	}
	
	/******************************/
	/* Hero  section structure */
	.hero
	{
		background: 
			linear-gradient(
		    rgba(0, 0, 0, 0.1), 
		    rgba(0, 0, 0, 0.3)
	    ),
	    url(../images/traa_hero_1.jpg) no-repeat center;
	}

	/* Project section structure */
	.projectsContainer
	{	
		display: flex;
		flex-direction: column;
	}
	
	.projectsLibrary
	{
		display: flex;
		flex-direction: row;

	}
	/* Desktop section structure */
	.projectImage
	{
		min-width: 40%;
		color: #fff;
		margin-right: 40px;
	}

	.heroFeature
	{
		max-width: 540px;
		margin: 0 auto;
	}

	.heroFeature h3
	{
		margin-top: 40px;
		text-align: center;
		color: #fff;
		font-family: 'Noticia Text', Georgia, serif;
		font-weight: 700;
		font-size: 36px;
		line-height: 40px;
		letter-spacing: 0.03em;
		margin-bottom: 30px;
	}

	.heroFeature p
	{
		color: #fff;
		text-align: center;
	}

	.projectsLibrary
	{
		margin-bottom: 30px;
		padding: 10px;
	}

	.projectsInfo
	{
		max-width: 775px;
		text-align: center;
		padding: 20px;
		margin-bottom: 40px;
		margin: 0 auto;
	}

	.projectContainter
	{
		margin-top: 40px;
	}

	/* Black by default */
	.subTitle
	{
		font-family: 'Noticia Text', Georgia, serif;
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0.03em;
		text-align: center; 
		margin-top: 80px; 
		margin-bottom: 40px;
	}

	.subtitleCopy 
	{
		max-width: 360px;
		text-align: center;
		margin-bottom: 40px;
	}

	.projectCon
	{
		display: flex;
		flex-direction: row;
	}

	.projectCon
	{
		margin-top: 40px;
	}

	/* Funding structure section */
	.fundingCon 
	{	
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.fundingCon h3
	{
		font-family: 'Noticia Text', Georgia, serif;
		font-weight: 700;
		font-size: 36px;
		letter-spacing: 0.03em;
		text-align: center;
		margin-bottom: 30px;
	}

	.fundingCon p
	{	max-width: 380px;

	}
	
	.fundingHero
	{
		background:url(../images/vashishtha-jogi-66779-unsplash_funding_1.jpg) no-repeat center;
		height: 450px;
		margin-top: 40px;
		margin-bottom: 30px;
	}
	
	.shopHero
	{
		background:url(../images/traa_shop_1.jpg) no-repeat center;
		height: 450px;
		margin-top: 40px;
		margin-bottom: 30px;
	}
	
	/* Partner section structure */
	.partnerCon
	{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	/* Subscribe container */
		#subsBut
	 {
		top: 0;
		width: 200px;
		background-color: #68C20E;
		padding: 21px 10px;
		text-align: center;
		color: #fff;
		border-radius: 50px;
		margin-right: 0;
	 }

	/* Subscribe button hover */
	 #subsBut:hover
	 {
		background-color: #417505;
	 }

	/* Button goes to the left on desktop and tablet sizes */
	.button
	{
		margin: 0;
	}

	/* Button hover structure */
	.button:hover
	{
		background-color: #417505;
		margin: 0;
	}

	/* Reveal the subscribe Info */
	.subscribeInfo
	{
		display: block;
		width: 270px;
		height: 0;
	    color: #000;
	    text-align: left;
	    border-right: 1px solid #fff;
	}

	.subscribeCon
	{
		display: flex;
		justify-content: space-between;
		width: 600px;
		position: relative;
		top: -70px;
		border-radius: 4px;
		padding: 20px;
		margin: 0 auto;
		background-color: white;
		box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);
	}

	.subscribeCon h3
	{
		font-family: 'Source Sans Pro', Arial, sans-serif;
		font-weight: 400;
		font-size: 20px;
		margin-top: 5px;
		margin-bottom: 5px;

	}
	
	.subscribeCon p
	{
		font-family: 'Source Sans Pro', Arial, sans-serif;
		font-weight: 600;
		font-size: 24px;

	}

	#borderLine
	{
		width: 273px;
		border-right: 1px solid #000;
	}

	/* Contact section structure */
	.contactForm
	{
		width: 700px;
		height: 450px;
		padding: 20px;
		margin: 0 auto;
		
	}

	/* Target the gray explainer text */
	#labelGray
	{
		text-align: left;
		color:#c2c2c2;
		margin-right: 0;
	} 

	/* Desktop footer structure */
	.footerService 
	{
		max-width: 1024px;
		margin: 0 auto;
		padding: 20px;
	}
	
	.footerCopy p
	{
		max-width: 220px;
	}
/********************************/


/*about page start*/

	.aboutProducts
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.aboutProducts1
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 0 auto;
		border-bottom: 1px solid black;
		margin-bottom: 70px;
		width: 100%;
	}

	.aboutTitle_1
	{
		width: 500px;
		flex: 1 1 auto;
		padding: 20px;
		font-family: 'Noticia Text', serif;
		font-weight: 700;
		letter-spacing: 0.03em;
		text-align: center;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.aboutTitle_1 p
	{
		font-family: 'Noticia Text', serif;
		font-weight: 700;
		font-size: 36px;
		letter-spacing: 0.03em;
		text-align: center;
		margin-bottom: 20px;
	}

	.aboutTitle_2
	{
		width: 100%;
		margin-bottom: 20px;
		flex: 1 1 auto;
		font-family: 'Noticia Text', serif;
		font-weight: 700;
		font-size: 36px;
		letter-spacing: 0.03em;
		text-align: center;

	}

	.aboutTitle_2 p
	{
		font-size: 36px;
		text-align: center;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px; 
		line-height: 55px;
	}

	.aboutTitle_3
	{
		width: 100%;
		flex: 1 1 auto;
		font-family: 'Noticia Text', serif;
		font-weight: 700;
		font-size: 36px;
		letter-spacing: 0.03em;
		margin-bottom: 20px;
	}
	
	.aboutTitle_3 p
	{
		font-size: 30px;
		text-align: left;
	}

	.aboutText
	{
		display: flex;
		flex-direction: column;
		width: 50%;
		padding-left: 20px;
	}

	.aboutHeroimg
	{
	  	text-align: center;
	}

	.aboutPoint
	{
		display: flex;
		flex-direction: row;
		width: 100%;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 120px;	
		background-color: white;
		color: black;
		text-align: left;
		flex: 1 1 auto;
	}
	
	.aboutPoint p
	{
	 	margin-bottom: 20px;
	 	line-height: 30px;
	 	font-size: 18px;
	 	
	}

	.bulletpointLeft
	{
		width: 100%;
		border-right: 1px solid #282828;
		align-items: center;
		padding-top: 50px;
	}
	
	.bulletpointLeft p
	{
		margin-left: 30px;
		margin-right: 30px;
	}

	.bulletpointRight
	{
		width: 100%;
		/*border-left: 1px solid #282828;*/
		padding-left: 20px;
		padding-top: 45px;
		padding-right: 5px;
		align-items: center;
	}
	
	.bulletpointRight p
	{
		margin-left: 30px;
		margin-right: 30px;
	}
	
	.aboutBg
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		position: relative;
		z-index: -2;
		margin-bottom: -130px;
	}

	.aboutColumn
	{
		/*background-color: purple;*/
		width: 50%;
		flex: 1 1 auto;
		padding: 20px;
		margin: 10px;
		margin-bottom: 50px;
	}
/*about page end*/

/*start of contact page*/
	
    #googleMap
    {
    	padding-bottom:56.25%;
    }

	#contactForm
	{
		display: flex;
	    flex-direction: row;
	    width: 910px;
	    margin: 0 auto;
	    background-color: white;
	    position: relative;
	    justify-content: space-evenly; 
	   	bottom: 50px;
	   	margin-bottom: -300px;
	   /*	box-shadow: 10px 10px 5px #dcdcdc;*/
	   	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}


	#contactINFO 
	{
		/*background-color: #696969;*/
	  	font-size: 18px;
	  	margin-bottom: 30px;
	  	font-family: 'Source Sans Pro', sans-serif;
	  	padding-top: 20px;
	  	margin-top: 24px;

	}

	#contactINFO h3
	{
		text-align: left;
		display: block;
		font-size: 18px;
		
	}

	#contactINFO p
	{
		width: 270px;
		font-size: 18px;
	}
	
	.vl 
	{
		border-left: 1px solid black;
	  	height: 700px;
	 	position: absolute;
	 	left: 50%;
	  	margin-left: -70px;
	  	margin-top: 50px;
	  	margin-right: 20px;

	}

	.contactLable
	{
		display: flex;
		/*background-color: #696969;*/
		width: 428px;
		height: 736px;
		margin: 10px;
		justify-content: center;
		font-size: 18px;
	}

	#contactUi
	{
		margin-top: 10px;
		width: 100%;
	}

	#contactUi p
	{
		text-align: left;
	}

	#contactLable 
	{
		font-size: 14px;
	}

	#messages
	{
	  width: 100%;
	  height: 200px;
	  margin-bottom: 50px;
	  padding-right: 20px;
	}

	#submit
	{
	 	/*display: block;*/
	 	font-family: 'Source Sans Pro', sans-serif;
		font-weight: bold;
		display: flex;
		justify-content: center;
		/*margin: 0 auto;*/
		width: 200px;
		height: 45px;
		padding: 15px;
		text-align: center;
		margin-top: -30px;
		margin-left: -1px;
		border-radius: 25px;
		color: #fff;
		background-color: #68C20E;
		-webkit-transition: color 0.4s ease-out;
	  	-moz-transition: color 0.4s ease-out;
	  	-o-transition: color 0.4s ease-out;
	  	transition: color 0.4s ease-out;
		

	}

	#submit:hover
	{
		background-color: #417505;
	}

	/*end of contact page*/

	/* Project section structure */
	.projectsContainer
	{	
		display: flex;
		flex-direction: column;

	}
	
	.projectsLibrary
	{
		display: flex;
		flex-direction: row;

	}
	
	/* Contact section structure */
	.contactForm
	{
		width: 700px;
		height: 450px;
		padding: 20px;
		margin: 0 auto;
		
	}

/*this section is by aaron*/
/* Modal media query structure */

	.card-container 
	{
		max-width: 800px;
		margin: 50px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-color: red;
	}
	
	#contactArea
	{
		width: 469px;
		border-right: solid 1px #ccc;
		margin-top: 20px;
		margin-bottom: 30px;
		color: #000;
	}

	.card 
	{
		width: 230px;
		height: 300px;
		border: 1px solid darkgray;
		border-radius: 3px;
		margin: 10px;
	}

	/* Desktop Modal */
	.bgModal
	{ 
		visibility: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		position: absolute;
		top: 0;
		z-index: 1;

	}

  	.modalContent 
  	{
		top: 20%;
	    bottom: 100%;
	    position: relative;
	    max-width: 320px;
	    height: 790px;
	    background-color: #fff;
	    border-radius: 4px;
	    z-index: 2;
 	 }

  #comments
	{
		max-width: 320px;
		height: 50px;
	}

  .close
	{
		position: absolute;
		top: 0;
		right: 14px;
		font-size: 42px;
		transform: rotate(45deg);
		cursor: pointer;
		color: #000;
	}

	.projectfeature-title h2
	{
		font-family: 'Noticia Text', Georgia, serif;
		font-weight: 700;
		font-size: 36px;
		letter-spacing: 0.03em;
		text-align: left;
		margin-bottom: 20px;
	}

	/* Desktop section structure */
	.projectfeature-title p
	{		
		text-align: left;
		margin-bottom: 40px;
	}

	.italicStyle
	{
		font-family: 'Source Sans Pro', Arial, sans-serif;
		font-weight: 600;
		font-size: 16px;
		font-style: italic;
	}

	.membershipCon
	{
		display: flex;
		flex-direction: row;
		justify-content:space-around;
	}

	.membershipSubtext
	{
		max-width: 700px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	/* Desktop clothing section  */
	.productItem
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-width: 500px;
		padding: 5px;
		margin-left: 30px;
	}

	.shopTitle
	{
		flex-grow: 1;
	}
	
	.shopclothing-text
	{
		font-size: 16px;
	/*	max-width: 300px;
	*/	margin: 0 auto;
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: center;
	}
	/*end of the shop page*/

	/*salmonid project desktop section*/
	
	#hatcheryInfo h3
	{
		font-family: 'Noticia Text', Georgia, serif;
		font-weight: 700;
		font-size: 30px;
		letter-spacing: 0.03em;
		text-align: center;
		margin-bottom: 20px;
	}
	
	#hatcheryInfo p
	{
		width: 85%;
		margin: 0 auto;
		text-align: left;
		padding: 10px;
		margin-left: 45px;
	}

	.salmonidProject
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	#salmonidHeroimg
	{
		padding-bottom:56.25%;
	}

	#hatcheryDetail
{
	display: block;
		margin: 0 auto;
		background-color: white;
		position: relative;
		bottom: 50px;
	/*	box-shadow: 10px 10px 5px #dcdcdc;*/
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-left: 10px;
		margin-right: 10px;
		margin-top: -15px;
		padding-bottom: 10px;
		letter-spacing: 0.03em;
}
	
	#hatcheryInfo p
	{
		width: 85%;
		margin: 0 auto;
		text-align: left;
		padding: 10px;
		margin-left: 45px;
	}

	.floatedLeft
	{
		display: flex;
		flex-direction: column;
		padding: 20px;
	}

	/*#floatedLeft img
	{
		display: flex;
		padding: 20px;
		
	}*/

	.floatedRight
	{
		width: 50%;
		float: right;
		padding: 45px;
	}

	.chartBut
	{
		display: flex;
		flex-direction: column;
	}

	/*end of the salmonid project section*/


	/*section for video of the event*/
	.lightbox 
	{
		position: absolute;
		text-align: center;
		width: 100%;
		height: 247%;
		top: 0;
		background-color: rgba(0, 0, 0, 0.9);
		display: none;
	}

	.lightbox-on
	{
		display: block;
	}

	.lightbox-close
	{
		position: absolute;
		color: white;
		font-size: 2rem;
		cursor: pointer;
		margin-right: 90px;
		right: 10px;
		top: 100px;
	}

	video {
		width: 80%;
		margin-top: 10%;
		border: thin solid #949393;
	}



}


/*************** 375 MEDIA QUERY ***************/
/******************************************/

@media screen and (min-width: 375px){


/* Fine tune the spacing on the vounteers section */
.column6
	{	
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 10px;
		background-color: #F8F9F9;
		box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
		0 5px 15px 0 rgba(0,0,0,0.08);	
	}

	.column6 p
	{
		font-family: 'Source Sans Pro', Arial, sans-serif;
		color: #696969;
		font-weight: 300;
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	/* solve spacing on tablet */
	.socialmediaIcons ul li
	{
		margin-left: 10px;
	}


}

@media screen and (min-width: 1024px){

	.showmainNav
	{	
		display: block;
		flex: 0 1 800px; /*flex 0 keeps nav from expanding too far and touching logo*/
		font-weight: 600;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		margin-top: 40px;
		margin-left: auto;
	}

	/*  Space the the main nav evnely at 1024 and up */
	 .nav-links
	 {
		display: flex;
		justify-content: space-between;
		width: 98%;
	 }

	 .hero
	 {
		 background: 
			 linear-gradient(
				 rgba(0, 0, 0, 0.1), 
				 rgba(0, 0, 0, 0.3)
			 ),
			 url(../images/traa_hero_1.jpg) no-repeat center;
	 }
 
}